{% extends 'base.html' %} 
{% load static %} 

{% block title %} My Blog {%endblock %} 

{% block css_files %} 
  <link rel="stylesheet" href="{% static 'blog/post.css' %}">
  <link rel="stylesheet" href="{% static 'blog/index.css' %}"/> 
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img
      src="{% static 'blog/images/cat.png' %}"
      alt="Jack - The author of the blog "
    />
    <h2>Jacks Blog</h2>
    <p>Hi i am jack and i like to learn coding since i find it fun</p>
  </header>
</section>

<section id="latest-posts">
  <h2>My latest Thoughts</h2>

  <ul>
    {% include 'blog/includes/posts.html' %}
  </ul>
</section>

<section id="about">
  <h2>What i do</h2>
  <p>I love programming</p>
  <p>My goal is to keep getting better at coding and as a developer.</p>
</section>
{% endblock %}
