{% extends 'base.html' %}
{% load static %} 

{% block title %} 
This post title 
{%endblock %} 

{% block css_files %} 
  <link rel="stylesheet" href="{% static 'blog/post.css' %}">
  <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}"/> 
{% endblock %}

{% block content %}
<section id="summary">
  <h2>
    Post Title
  </h2>
  <article>
    <img src="{% static 'blog/images/mountains.jpg' %}" alt="Post title">
    <address>By Jack</address>
    <div>
      Last updated on <time>July 10th</time>
    </div>
  </article>
</section>

<main>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ad, magni soluta laudantium consectetur similique blanditiis temporibus suscipit? Corporis ipsum fugit vitae reiciendis temporibus quisquam quia animi dicta laboriosam mollitia?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ad, magni soluta laudantium consectetur similique blanditiis temporibus suscipit? Corporis ipsum fugit vitae reiciendis temporibus quisquam quia animi dicta laboriosam mollitia?
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis expedita deserunt sapiente corrupti officiis illum perspiciatis soluta. Dolorem est labore necessitatibus! Tempora quibusdam esse totam soluta! Deleniti repudiandae sint nihil!
  </p>
</main>
{% endblock %}
